
name: 打包

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: 获取仓库文件
        uses: actions/checkout@v2 
      - name: 创建压缩包
        run: zip -r butchery-cn.zip pack.mcmeta assets
      - name: 创建release
        uses: softprops/action-gh-release@v2
        with:
          files: butchery-cn.zip
          token: ${{ secrets.GITHUB_TOKEN }}

